.flex{
  background-color: #00c7ce;
  height: 50vh;
  padding: 10px;
  display: flex;

  /* justify-contentsとalign-itemsは要素全体の場所を決める */
  justify-content: flex-end;
  align-items: center;

}

.flex > div{
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
  /* アイテムの横幅指定（縦並びなら高さになる） */
  flex-basis: 100px;
}

.flex > div:nth-child(1){
  order: 3; /* 順番を変える */
  flex-grow: 0; /* flexアイテム同士の割合 */
}
.flex > div:nth-child(2){
  order: 4;
  flex-grow: 1;
}
.flex > div:nth-child(3){
  order: 1;
  flex-grow: 2;
  margin-right: auto;
}
.flex > div:nth-child(4){
  order: 2;
  flex-grow: 3;
}
